<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- 配置一个 bean -->
	<bean id="userDAO" class="com.ricky.spring.demo.UserDAO">
		<!-- 为属性赋值 -->
		<property name="userName" value="Ricky"></property>
		<property name="password" value="123"></property>
	</bean>

	<!-- 通过构造器注入属性值 -->
	<!-- 若一个 bean 有多个构造器, 如何通过构造器来为 bean 的属性赋值 -->
	<!-- 可以根据 index 和 value 进行更加精确的定位. (了解) -->
	<bean id="car" class="com.ricky.spring.demo.Car">
		<!-- 为属性赋值 -->
		<constructor-arg name="brand" value="BMW X5" index="0"></constructor-arg>
		<constructor-arg name="manufacturer" value="BMW"
			index="1"></constructor-arg>
		<constructor-arg name="model" value="3.0L" index="2"></constructor-arg>
		<constructor-arg name="price" value="35.5" index="3"
			type="float"></constructor-arg>
		<constructor-arg name="max_speed" value="205.9" type="float"></constructor-arg>
	</bean>

	<bean id="person" class="com.ricky.spring.demo.Person">
		<property name="name" value="Ricky"></property>
		<property name="age" value="25"></property>
		<!-- 通过 ref 属性值指定当前属性指向哪一个 bean! -->
		<property name="car" ref="car"></property>
	</bean>

	<bean id="service" class="com.ricky.spring.demo.UserService">
		<property name="userDAO" ref="userDAO"></property>
	</bean>

	<!-- 声明使用内部 bean -->
	<bean id="service2" class="com.ricky.spring.demo.UserService">
		<property name="userDAO">
			<!-- 内部 bean, 类似于匿名内部类对象. 不能被外部的 bean 来引用, 也没有必要设置 id 属性 -->
			<bean class="com.ricky.spring.demo.UserDAO">
				<!-- 为属性赋值 -->
				<property name="userName" value="Ricky"></property>
				<property name="password" value="123"></property>
			</bean>
		</property>
	</bean>

	<bean id="action" class="com.ricky.spring.demo.Action">
		<property name="userService" ref="service"></property>
		<!-- 设置级联属性(了解) -->
		<property name="userService.userDAO.password" value="bigdata"></property>
	</bean>

</beans>
